/* width */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #80808075; 
    border-radius: 8px;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebebeb; 
    border-radius: 8px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dfdfdf; 
    cursor: pointer;
}